@import "../../styles/constants";

.wide {
  width: 100%;
}

.field {
  &.is-key {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.is-value {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
