@import "../../styles/constants";

.entity-builder-item {
  display: flex;
  flex-direction: column;
  background-blend-mode: saturation;

  span {
    margin-left: $input-border-width;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  input[type="text"] {
    margin-bottom: 0;
  }
}
