$background-color: #322f3d;
$background-color-dark: darken($background-color, 5);
$background-color-darker: darken($background-color, 10);

$outline-color: #4b5d67;
$button-color: #59405c;
$button-active-color: #87556f;
$font-color: wheat;
