@charset "utf-8";

@import "./fonts";
@import "./constants";

$family-sans-serif: 'PT Root UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$navbar-item-active-color: black;

@import "~bulma/bulma";

@import "~@creativebulma/bulma-divider";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 5.5rem);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    white-space: pre-wrap;
}
