$background-color: #322f3d;
$outline-color: #4b5d67;
$button-color: #59405c;
$button-active-color: #87556f;
$font-color: wheat;

.App {
  min-height: 100vh;

  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 16px;
  background-color: $background-color;
  color: $font-color;

  label {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1.2em;
  }

  textarea {
    font-size: 1em;
    padding: 5px;
    border-width: 3px;
    border-color: $outline-color;
    background-color: darken($background-color, 10);
    color: $font-color;
    border-style: solid;
    margin-bottom: 1em;

    &:focus {
      outline: none;
    }
  }

  pre {
    white-space: pre-wrap;

    &.error {
      color: red;
    }
  }

  &__workspace-selector {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &__item {
      padding: 0.5em 1em;

      background-color: $button-color;

      cursor: pointer;
      font-weight: 500;
      font-size: 1.2em;

      &.active {
        background-color: $button-active-color;
        cursor: default;
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__constructor {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__visualizer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
